.main-section {
  margin-top: 20px;
}

.welcome {
  display: inline-block;
} .welcome p {
  text-align: left;
}

.news-feed {
  border-left: 1px solid grey;
}

.secon-1 {
  background-color: green;
  line-height: 150px;
  vertical-align: middle;
  text-align: center;
}

.secon-2 {
  background-color: yellow;
  line-height: 150px;
  vertical-align: middle;
  text-align: center;
}
